body,
html {
    font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.text-xxs {
    font-size: 0.5rem;
    line-height: 1rem;
}

code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.hidden {
    display: none;
}

#navbar {
    position: relative;
    z-index: 1000;
}

#main-nav-dropdown {
    position: absolute;
    z-index: 1001;
}
