html, body {
    font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    size: 1rem;
}

pre, code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    size: 0.6rem;
}

.hidden {
    display: none;
}

.doc h1 { font-size: 2.0rem; }
.doc h2 { font-size: 1.8rem; }
.doc h3 { font-size: 1.5rem; }
.doc h4 { font-size: 1.25rem; }
.doc h5 { font-size: 1.1rem; }
.doc p { padding: 1rem 0 1rem 0; }

.tabs .tab-button.active {
  font-weight: bold;
}

.tabs .tab-panes .tab {
  display: none;
}

.tabs .tab-panes .tab.active {
  display: block;
}
