name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        BUILD_TARGET: [release]
    steps:
    - name: Cache
      uses: actions/cache@v5
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
          node_modules
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - uses: actions/checkout@v4
    - name: NPM
      run: npm i && npm x tailwindcss -i ./packages/boilermaker_ui/tailwind.css -o ./packages/boilermaker_ui/assets/css/tailwind.css
    - name: Build
      run: cargo build --verbose --profile ${{ matrix.BUILD_TARGET }}
    - name: Run tests
      run: cargo test --verbose --profile ${{ matrix.BUILD_TARGET }}

