name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions/checkout@v4

      - name: Rustfmt
        run: cargo fmt --all -- --check --exclude boilermaker_desktop --exclude boilermaker_ui --exclude boilermaker_web

      - name: Clippy
        run: cargo clippy --no-deps --all-targets --exclude boilermaker_desktop --exclude boilermaker_ui --exclude boilermaker_web

      - name: Tests
        run: cargo test --verbose --exclude boilermaker_desktop --exclude boilermaker_ui --exclude boilermaker_web
