name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions/checkout@v4

      - name: Rustfmt
        run: cargo fmt --package boilermaker_api --package boilermaker_cli --package boilermaker_core -- --check

      - name: Clippy
        run: cargo clippy --package boilermaker_cli --package boilermaker_core --no-deps --all-targets

      - name: Tests
        run: cargo test --package boilermaker_core --package boilermaker_cli --verbose
