name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Cache
      uses: actions/cache@v5
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
          node_modules
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - uses: actions/checkout@v4

    - name: Rustfmt
      run: cargo fmt --all -- --check

    - name: Install system packages
      run: sudo apt install -y libglib2.0-dev
    - name: Install NPM packages
      run: npm i && npm x tailwindcss -- -i ./packages/boilermaker_ui/tailwind.css -o ./packages/boilermaker_ui/assets/css/tailwind.css

    - name: Run clippy
      run: cargo clippy --all-targets

    - name: Run tests
      run: cargo test --verbose

